@charset "utf-8";

:root {
    --primary-color: #ffdd2b;
    --point-color: #f5cc00;
    --text-color: #333;
    font-size: 62.5%; /* 1rem = 10px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

.hidden {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    line-height: 0;
    clip: rect(0, 0, 0, 0);
}

body {
    font: 1.8rem/1.5 "Montserrat", sans-serif;
    color: var(--text-color);
    height: 100vh;
    text-transform: uppercase; /* ttu: 대문자 표시 */
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline; /* tdu: 밑줄 표시 */
    color: var(--point-color);
}

.inner {
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    position: relative;
}

header {
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    width: 90%;
    height: 6.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    margin-left: auto;
    margin-right: 10rem;
    gap: 5rem;

    font-weight: 600;
}

.menu {
    display: block;
    background: url(../images/hamburger.svg) no-repeat 50%;
    width: 5rem;
    height: 5rem;
}

.bruce-lee-bg {
    position: absolute;
    bottom: -10rem;
    left: 0;
    width: 45vw;
    pointer-events: none;
    user-select: none;
    opacity: 0.2;
    z-index: -1;
}

.bruce-lee {
    position: absolute;
    bottom: 0rem;
    left: -5rem;
    width: 37vw;
    pointer-events: none;
    user-select: none;

    filter: drop-shadow(2rem 3rem 2rem rgba(0, 0, 0, 0.4));
}

.bruce-lee img,
.bruce-lee-bg img {
    width: 100%;
}

.title {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 9vw;
    color: #000;
    line-height: 1;
}

.title strong {
    font-size: 8vw;
}

.title span {
    display: block;
    margin-top: -5rem;
    /* border: 1px solid #000; */
    position: relative; /* 작은 이소룡의 기준점 */
}

.title span b {
    color: var(--point-color);
}

.title h2 .char {
    -webkit-animation: flicker-1 2s linear infinite both;
    animation: flicker-1 2s linear infinite both;
    animation-delay: calc((60ms * var(--char-index)));
}
.small-bruce-lee {
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
}

.small-bruce-lee.action {
    /* infinite alternate: 무한 반복 번갈아가며 실행 */
    -webkit-animation: bounce-top 0.9s infinite alternate both;
    animation: bounce-top 0.9s infinite alternate both;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 8vw;
    /* background: skyblue; */

    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-end; /* jcfe */
    align-items: center;
}

.foot-contents {
    /* border: 1px solid #000; */
    text-align: right;
}

.sns-link {
    display: inline-flex;
    gap: 1.6rem;
}

.sns-link li a {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    background: no-repeat 50%;
}

.sns-link li:nth-child(1) a {
    background-image: url(../images/bi_facebook.png);
}
.sns-link li:nth-child(2) a {
    background-image: url(../images/entypo-social_youtube.png);
}
.sns-link li:nth-child(3) a {
    background-image: url(../images/instagram-filled.png);
}

.copyright {
    margin-top: 1rem;
}

.foot-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vw;
    background: var(--point-color);

    pointer-events: none;
    user-select: none;
    z-index: -1;
}

.btn-skip {
    position: absolute;
    left: 100px;
    bottom: 50px;
    border: none;
    padding: 1.5rem 3rem;
    background: #000;
    color: #fff;
    cursor: pointer; /* cup */
    border-radius: 50px;
    font-weight: 600;
}

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}
@keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation flicker-1
 * ----------------------------------------
 */
@-webkit-keyframes flicker-1 {
    0%,
    100% {
        opacity: 1;
    }
    41.99% {
        opacity: 1;
    }
    42% {
        opacity: 0;
    }
    43% {
        opacity: 0;
    }
    43.01% {
        opacity: 1;
    }
    47.99% {
        opacity: 1;
    }
    48% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    49.01% {
        opacity: 1;
    }
}
@keyframes flicker-1 {
    0%,
    100% {
        opacity: 1;
    }
    41.99% {
        opacity: 1;
    }
    42% {
        opacity: 0;
    }
    43% {
        opacity: 0;
    }
    43.01% {
        opacity: 1;
    }
    47.99% {
        opacity: 1;
    }
    48% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    49.01% {
        opacity: 1;
    }
}
